
      <div class="row">
         <div class="span3">
        	<div class="well">
          <%= image_tag("white-dog.bmp", :class => "profile-pic") %>
		  		<h3>White Dog Cafe</h3>

          <br>
          <h6>Joined</h6><p>March 1, 2012</p>
          <h6>Admin</h6>
          <p><%= link_to "Judy Wicks", '#' %></p>

          <h6>Contact</h6>
          <p>
            <abbr title="Phone">P:</abbr> (215) 456-7890 <br>
            <abbr title="Email">E:</abbr> contact@whitedog.com
          </p>

          <%= link_to image_tag("icon-twitter.png", :class => "social-icon"), '#' %>
          <%= link_to image_tag("icon-facebook.png", :class => "social-icon"), '#' %>
          <%= link_to image_tag("icon-linkedin.png", :class => "social-icon"), '#' %>

          <hr>
          <div class="btn-group">
            <button class="btn btn-primary">Admin Actions</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Change Admin</a></li>
              <li><a href="#">Edit Organization</a></li>
              <li class="divider"></li>
              
              <li><a href="#">Delete Organization</a></li>
            </ul>
          </div>

			</div> <!--/well-->
        </div><!--/span-->
        <div class="span9">

          <div class="row">
            <div class="span9">
              <div class="hero-unit">
                <h6>About Susan</h6>

                <p>Founded in 1983 by social activist, Judy Wicks, and housed in three adjacent Victorian brownstones in the University City section of Philadelphia the original White Dog Cafe is a local favorite known for its unusual blend of award-winning contemporary American cuisine, civic engagement and environmental sustainability. Transformed from a small coffee and muffin take-out shop into a full service, nationally recognized restaurant our mission - to serving our customers, serving our community, serving the earth, and serving each other - continues to resonate with our guests.</p>

                <h6>Green Interests</h6>
                <span class="label label-success">Technology</span>
                <span class="label label-success">Social Entreprenuership</span>
                <span class="label label-success">Product Development</span>
                <span class="label label-success">Transportation</span>
                <span class="label label-success">Energy</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span9">
            <iframe width="700" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?ie=UTF8&amp;q=white+dog+cafe&amp;fb=1&amp;gl=us&amp;hq=white+dog+cafe&amp;hnear=0x89c6b7d8d4b54beb:0x89f514d88c3e58c1,Philadelphia,+PA&amp;cid=0,0,15720836043972967714&amp;t=m&amp;ll=39.953718,-75.193026&amp;spn=0.00329,0.01502&amp;z=16&amp;output=embed"></iframe>
          </div>
          </div>
        	<div class="row">

            <div class="span5">
              <h2>Jobs</h2>
              <hr>
            </div>

            <div class="span4">
              <h2>Projects</h2>
              <hr>
            </div>

          </div>
        </div><!--/span-->

      </div><!--/row-->


