
      <div class="row">
         <div class="span3">
          <div class="well">
            <%= image_tag("white-dog.bmp", :class => "profile-pic") %>
            <h3>White Dog Cafe</h3>

            <br>
            <h6>Joined</h6><p>March 1, 2012</p>
            <h6>Admin</h6>
            <p><%= link_to "Judy Wicks", '#' %></p>

            <h6>Contact</h6>
            <p>
              <abbr title="Phone">P:</abbr> (215) 456-7890 <br>
              <abbr title="Email">E:</abbr> contact@whitedog.com
            </p>



            <%= link_to image_tag("icon-twitter.png", :class => "social-icon"), '#', :title => "Follow White Dog on Twitter", :rel => "tooltip" %>
            <%= link_to image_tag("icon-facebook.png", :class => "social-icon"), '#', :title => "Follow White Dog on Facebook", :rel => "tooltip" %>
            <%= link_to image_tag("icon-linkedin.png", :class => "social-icon"), '#', :title => "Follow White Dog on LinkedIn", :rel => "tooltip" %>

            <hr>
            <div class="btn-group">
              <button class="btn btn-primary">Admin Actions</button>
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Edit Job</a></li>
                <li class="divider"></li>
                
                <li><a href="#">Delete Job</a></li>
              </ul>
            </div>

          </div> <!--/well-->
        </div><!--/span-->
        <div class="span9">

          <div class="row">
            <div class="span9">
              <div class="hero-unit">
                
                <h3>Job ID #14387</h3>
                <hr>
                <h6>Title</h6>
                <p>Solar Panel Installer</p>

                <h6>Description</h6>

                <p>Founded in 1983 by social activist, Judy Wicks, and housed in three adjacent Victorian brownstones in the University City section of Philadelphia the original White Dog Cafe is a local favorite known for its unusual blend of award-winning contemporary American cuisine, civic engagement and environmental sustainability. Transformed from a small coffee and muffin take-out shop into a full service, nationally recognized restaurant our mission - to serving our customers, serving our community, serving the earth, and serving each other - continues to resonate with our guests.</p>

                <h6>Sector(s)</h6>
                <p>
                  <span class="label label-success">Technology</span>
                  <span class="label label-success">Social Entreprenuership</span>
                  <span class="label label-success">Product Development</span>
                  <span class="label label-success">Transportation</span>
                  <span class="label label-success">Energy</span>
                </p>
                <h6>Status</h6>
                <p>Open</p>
                <h6>Availability</h6>
                <p>Full Time</p>
                <h6>Compensation</h6>
                <p>$32,000</p>
                <h6>Posted</h6>
                <p>March 13, 2012</p>
                <h6>Updated</h6>
                <p>March 13, 2012</p>
                <hr>
                <button class="btn btn-large btn-success">Apply</button>
        <button class="btn btn-large">Back to White Dog Cafe</button></td>

              </div>

            </div>
          </div>

        </div><!--/span-->

      </div><!--/row-->


