    <ul class="breadcrumb">
        <li>
          <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
          <a href="<%= projects_path %>">Projects</a> <span class="divider">/</span>
        </li>
        <li class="active">Woodland Cemetery Clean-Up Day</li>
      </ul>



      <div class="row">
         <div class="span3">
          <div class="alert alert-info fade in">
            <a class="close" data-dismiss="alert">×</a>
              <h4 class="alert-heading">More People Needed!</h4>
              <p>This project has 4 of 20 people so far.</p>
              

              <p><div class="progress progress-success progress-striped active">
                <div class="bar" style="width: 45%"></div></div></p>

              <p><button class="btn btn-mini btn-success">Join</button>
                <button class="btn btn-mini">Back to Projects</button>
              </p>
              
            
            
          </div>
          <div class="well">
            <h6>Posted By</h6>
            <p><%= link_to "Woodland Cemetery", '#' %></p>
            <h6>Posted</h6><p>3 days ago</p>


            <h6>People Coming</h6>
            
            <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
              <%= link_to image_tag("profile/3.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "mhighland", :rel => "tooltip" %>
              <%= link_to image_tag("profile/4.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "aminamina", :rel => "tooltip" %>
              <%= link_to image_tag("profile/1.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jsapriel", :rel => "tooltip" %>

              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
              <%= link_to image_tag("profile/3.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "mhighland", :rel => "tooltip" %>
              <%= link_to image_tag("profile/4.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "aminamina", :rel => "tooltip" %>
              <%= link_to image_tag("profile/1.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jsapriel", :rel => "tooltip" %>

              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
              <%= link_to image_tag("profile/3.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "mhighland", :rel => "tooltip" %>
              <%= link_to image_tag("profile/4.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "aminamina", :rel => "tooltip" %>
              <%= link_to image_tag("profile/1.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jsapriel", :rel => "tooltip" %>

            <hr>
            <div class="btn-group">
              <button class="btn btn-primary">Admin Actions</button>
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Edit Job</a></li>
                <li class="divider"></li>
                
                <li><a href="#">Delete Job</a></li>
              </ul>
            </div>

          </div> <!--/well-->
        </div><!--/span-->
        <div class="span9">
          
          <div class="row">
            <div class="span9">
              <div class="hero-unit">
                
                <h1>Woodland Cemetery Clean-Up Day</h1>
                <p>Sunday, April 29, 2012 from 4PM-6PM</p>
                <hr>

                <h6>Description</h6>

                <p>Turpis sit montes nisi adipiscing ultrices, mattis vel proin urna ac nec. Tortor augue porta? Est sagittis, dis, hac adipiscing, ridiculus penatibus placerat non cras augue tristique rhoncus! Lorem nec auctor hac! Aliquet, arcu non, penatibus sed scelerisque auctor elementum, non amet? A amet porta aenean ac parturient, elementum odio? Mus amet? Amet porttitor nisi lacus! Nisi purus? Nisi, pulvinar.</p>


                <h6>Minimum Age</h6>
                <p>None</p>
                
                <h6>Address</h6>
                
                <p>
                    4001 Woodland Avenue<br>
                    Philadelphia, PA 19104

                </p>
                <hr>
                <button class="btn btn-large btn-success">Join Project</button>
        <button class="btn btn-large">Back to Projects</button></td>

              </div>

            </div>
          </div>

        </div><!--/span-->

      </div><!--/row-->


