<% provide(:title, "Sign in") %>


<div class="row">

  <!--
  <div class="span6 offset3">
    <div class="well">




    <%= form_for(:session, :url => sessions_path, :html => { :class => "" } ) do |f| %>
      <fieldset>
        <legend>Please Sign In</legend>
        <div class="control-group">
          <%= f.label :email, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :email, class: "input-xlarge" %>
          </div>
        </div>


        <div class="control-group">
          <%= f.label :password, class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password, class: "input-xlarge" %>
          </div>
        </div>



        <div class="form-actions">
          <%= f.submit "Sign In", class: "btn btn-primary" %>
        </div>
      </fieldset>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <p><%= link_to "Forgot my password", resetpswd_path, method: 'get' %> </p>




    </div>
  </div>

  -->
  <div class="span6 offset3">
        <div class="well">
        

          <% if signed_in? %>

            <h6>Logged in as:</h6>
            <h3><%= current_user.fname %> <%= current_user.lname %></h3>
            
            <%= link_to "Sign Out", signout_path, method: "delete", class: "btn btn-signup" %>


          <% else %>
            <h2>Please Sign In</h2>
            <h6>GPEN Member Login</h6>
             <%= form_for(:session, :url => sessions_path) do |f| %>
                <%= f.text_field :email, class: "login-field", placeholder: "Email" %>
                <%= f.password_field :password, class: "login-field", placeholder: "Password" %>
                <%= f.submit "Sign In", class: "btn btn-primary" %>

            <% end %>

            <span class="forgot-password"><%= link_to "Forgot your password?", resetpswd_path, method: 'get' %></span>

             <hr>
             <h6>Not a Member?</h6>
             <a class="modal-btn btn btn-signup" data-toggle="modal" href="#signup-modal" >Sign Up, It's Free!</a>
          <% end %>


        
    </div> <!--/well-->
      </div><!--/span-->
</div>