

            



<div class="row">
   <div class="span12">
      <div class="well">
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th>For</th>
                  <th>Show</th>
                  <% if (!current_user.nil? && (current_user.admin == true || current_user.id == @user.id)) %>
                    <th>Delete</th>
                  <% end %>
                </tr>
              </thead>

              <tbody>  
                 <% if @projects.any? %> 
                    <% @projects.each do |project| %>
                        <tr>               
                            <td><%= project.proj_desc %></td>
                            <td><%= project.proj_time %></td>
                            <td><%= project.city %></td>
                            <td><%= project.user.fname %></td>
                            <td><%= link_to 'Show', project, class: "btn btn-small btn-success" %></td>

                            <% if (!current_user.nil? && (current_user.admin == true || current_user.id == @user.id)) %>
                              <td><%= link_to 'Destroy', project, class: "btn btn-small btn-danger", confirm: 'Are you sure?', method: :delete %></td>
                            <% end %>


                        </tr>
                    <% end %>
                <% end %>
                
              </tbody>
            </table>
    </div><!--/well-->
  </div><!--/span12-->
</div><!--/row-->