      <ul class="breadcrumb">
        <li>
          <a href="<%= root_path %>">Home</a> <span class="divider">/</span>
        </li>
        <li>
          <%= link_to "Organizations", organizations_path %>
        </li>
        <% unless @searchtext.nil? %> <span class="divider">/</span><li class="active">Search for '<%= @searchtext %>'</li><% end %>
      </ul>

<div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            
            <ul class="nav nav-list filters" id="search_filters">
              <h3>Filters</h3>
              <li class="nav-header">By Sector</li>
              <% @sectors.each do |sector| %>

                <li <% if !@filters_ids.nil? && (@filters_ids.include? sector.id)%> class="active" <% end %> id="<%= sector.id %>">
                  <a href="#"><%= sector.description %></a>
                </li>
              <% end %>
            </ul>

           

          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

          <% if !current_user.nil? && current_user.admin == true %>
            <% @orgs_to_approve = (Organization.where(approved: false)) %>
            <% if @orgs_to_approve.any? %>  
              <div class="alert alert-info fade in">
                <a class="close" data-dismiss="alert">×</a>
                <strong>Admin notice:</strong> <%= pluralize(@orgs_to_approve.count, "organization") %> awaiting approval:
                
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @orgs_to_approve.each do |ota| %>
                      <tr>  
                        <td>
                          <a href = "<%= organization_path(ota) %>"><%= ota.name %></a>
                        </td>
                        <td> <%= link_to('Approve', organization_approve_url(ota), :method => :put, class: "btn btn-success")%> </td> 
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>

          <% if !current_user.nil? && current_user.organizations.where(approved: false).any? %>
            <div class="alert alert-info fade in">
              <a class="close" data-dismiss="alert">×</a>
              <strong>Notice:</strong> <%= pluralize(current_user.organizations.where(approved: false).count, 'organization') %> that you created are awaiting approval by GPEN staff. You will be notified via email when <% if current_user.organizations.where(approved:false).count > 1 %> they have <% else %> it has <% end %> been approved.
            </div>
          <% end %>
          <div class="hero-unit">

            
            <% if (@searchtext.nil? || @searchtext.empty?) && (@filters.nil? || @filters.empty?) %>

                <h1>Green Organizations</h1>
                <p>We are proud to say that we have <%= Organization.all.count %> (and counting!) green organizations listed on our website. Use the filters to the left or the search bar below to find organizations.</p>

            <% else %>

                <h2>Organization Results</h2>
                <h6>filters</h6>
                <% if !@filters.nil? %>
                    <% @filters.each do |filterobject| %>
                        <span class="label label-info"><%= filterobject.description %></span> 
                    <% end %>
                <% end %>

            <% end %>

            <%= form_tag organizations_path, method: 'get', :id => 'search_orgs', class: 'form-search form-big-search' do %>
              <p>
                  <%= text_field_tag :search, params[:search], class: 'big-search-query' %>
                  
                  <%= hidden_field_tag :filters_ids, @filters_ids.split(',') %>
                  <%= submit_tag "Search", class: 'btn btn-primary btn-big-search pull-right', name: 'nil'%>
              </p>
            <% end %>


            <% if !@filters.nil? && !@filters.empty? %>
              <%= link_to('Reset Filters', organization_resetcookies_url(1), :method => :get, class: "btn btn-success")%>
            <% end %>
            <!--
            <form class="form-search form-big-search">
              <input type="text" class="big-search-query">
              <button type="submit" class="btn btn-primary btn-big-search pull-right">Search</button>
            </form>
            -->

            <% if signed_in?%><%= link_to 'Create New Organization', new_organization_path, class: "btn" %><% end %>

          </div>

          <div class="well">
            
      
      <% if @organizations.nil? || @organizations.empty? %>
        Your search shows no results. Reset filters and try another search.
      <% else %>  

        <h6><%= @organizations.length %> Search Results</h6>

        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 60%">Title</th>
              <th style="width: 30%">Contact</th>
              <th style="width: 10%">Link</th>
            </tr>
          </thead>
          <tbody>

          
            <% @organizations.each do |organization| %>
              <% if !organization.nil? %>
                <tr>
                  <td>
                    
                  <h4><%= link_to(organization.name, organization, :class => "org-popover", :rel => "popover", "data-original-title" => organization.name, "data-content" => truncate(organization.description, :length => 200, :omission => '...')) %></h4>

                  <% if organization.sectors.any? %>                
                      <% organization.sectors.each do |sec| %>
                    <span class="label <% if !@filters_ids.nil? && (@filters_ids.include? sec.id)%> label-warning <% else %>label-success <% end %> "><%=sec.description%></span>
                      <% end %>
                    
                    <% end %>

                  <!--<p><%= truncate(organization.description, :length => 50, :omission => '...') %></p>-->


                  </td>
                  <td>
                    <address>
                      <%= organization.address %><br>
                      <%= organization.address2 if organization.address2 %>
                      <%= organization.city %>, <%= organization.state %> <%= organization.zip %><br>
                      <abbr title="Phone">P:</abbr> <%= organization.phone %><br>
                    </address>
                  </td>

                  
                  <td>
                    <%= link_to 'View', organization, class: "btn btn-small btn-success" %>
                    
                  </td>
                </tr>
                <% end %>
            <% end %>
          

          </tbody>
        </table>

        <% end %>
        



      

          </div><!--/well-->
        </div><!--/span-->
      </div><!--/row-->